<div class="center hero-unit">
  <h1>Welcome to the Jungle</h1>

  <h2>
    Missing tool for converting tgl time sheets to something meaningful
  </h2>

  <%= link_to "Tgl → P", { :controller => "converters", :action => "daily" }, { :class => "btn btn-large btn-primary" } %>
  <%= link_to "P → D", { :controller => "converters", :action => "weekly" }, { :class => "btn btn-large btn-primary"} %>

</div>